@model EmailDTO
@{
	ViewBag.Title = "Forgot Password";
}


<div class="text-center">

   @if (Model?.IsEmailSent == true)
   {
		<p>We have sent a Email on your registered email id</p>
   }
   else
   {
		<p>Forgot Password? No worries you can reset it easily.</p>


		<form asp-action="ForgotPassword" asp-controller="Account" method="post">


			<div class="form-field flex">

				<label asp-for="Email" class="form-label pt">Enter the email address linked to your account</label> <br><br>

				<div class="flex-1">
					<input asp-for="Email" class="form-input" />
					<span asp-validation-for="Email" class="text-red"></span>
				</div>
			</div>

			<button class="button button-green-back " type="submit">Send Email</button>

		</form>

		<div asp-validation-summary="All" class="text-red">
		</div>

		@if (ViewBag.Errors != null)
		{
				<div class="text-red ml">
					<ul>
						@foreach (string error in ViewBag.Errors)
						{
							<li class="ml">@error</li>
						}
					</ul>
				</div>

		}


		<a asp-action="Login" asp-controller="Account">Back To Login</a>
   }
</div>

@section scripts {


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js">

	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.Validator" asp-fallback-src="~/jquery.validate.min.js">
	</script>

	<script src="
				https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.Validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js">
	</script>

}


